
* {
  box-sizing: border-box;
  --fresnoRed: #b1102b;
  --fresnoRedDark: #690d1c;

  /* Monsterrat font from Google */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.bodyContainer {
    min-width: 650px;
    text-align: center;

}


.blurryBackground{
  background-image: url('./src/assets/testImage.jpg');

}

/*              Add media query to change menus?                */


/* fresnoRed */
  .headerLogo {
    width: 15%;
    background-color: black;
    float: left;
}

/************** Navbar ***************/
.navBar {
    width: 100%;
    background-color: var(--fresnoRed);
    overflow: hidden;
}
/*
.navBar a {
    display: inline-block;
}
/*
.navBar ul{
    list-style-type: none;
    margin: 0;

    display: flex;
    justify-content: space-around;
}
*/

.navBar a{
    float: left;
    display: block;
    text-align: center;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;

}


.navBar a:hover {
    background-color: var(--fresnoRedDark);

}

.navBar a.active {
    background-color: var(--fresnoRedDark);
}

.navBarLogo {
    width: 25px;
}

/************** Navbar ended ***************/

.infoContainer {
    margin: 5%;
    padding-bottom: 2%;
    text-align: left;
}

.row {
    margin: 0 -5px;
}

.row:after{
    content: "";
    display: table;
    clear: both;

}

.column {
    float: left;
    width: 25;
    padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.calcContainer {
    margin-right: 5%;
    display: grid;
    float: left;
    text-align: left;
}

.calcContainer label{
    margin-top: 5%;
    text-align: right;
}


.calcResults {
    display: grid;
    justify-content: left;
    text-align: left;
}


/************** image container ***************/

.imgContainer {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;

}

.imgContainer img {
    width: 100%;
}

.imgContainer .imgCaption {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); /* black background */
  color: #f1f1f1; /* white text */
  width: 100%; /* full width */
  padding: 3%;
}

/************** image container end ***************/

/************** footer container ***************/

.footContainer {
    position: relative;
    padding-top: 100px;
    clear: both;
    text-align: center;
}
/************** footer container end ***********/

.imgCaption {
text-align: left;

}

.pageHeader {
text-align: left;

}

#map { 
height: 440px; 
width: 100%;
position: relative;
}